<body data-spy="scroll" data-target="#navigation" data-offset="120">
  <!-- intro-->
  <section id="intro" style="background-image: url('img/ein-steig.jpg');" class="intro">
    <div class="overlay"></div>
    <div class="content">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <h5>熱情、專注，以行動創造改變</h5>
            <h1>我是 Jeffrey </h1>
            <h5>Rails / Backend Developer since 2013 </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- intro end-->
  <!-- navbar-->
  <header class="header">
    <div class="sticky-wrapper">
      <div role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-btn btn-sm navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#intro" class="navbar-brand scroll-to"><img src="img/logo.png" alt=""></a>
          </div>
          <div id="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#intro">Home</a></li>
              <li><a href="#about">About </a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#text">Text</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- /.navbar-->
  <!-- about-->
  <section id="about" class="text">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">About me: <br>不只是程式設計師</h2>
          <p>從 2013 年開始寫 Rails 起，我陸續使用許多技術實作功能需求，像是 </p>
          <ul>
            <li>OAuth(Doorkeeper、facebook、google)</li>
            <li>Push Notification to iOS & Android </li>
            <li>Deployment(Linode、AWS EC2)</li>
            <li>File upload(AWS S3)</li>
            <li>React JS</li>
            <li>API development</li>
          </ul>
          <p>而除了自認為是一位合格的工程師外，我認為我還是一位：</p>
          <h5 class="lead">溝通者</h5>
          <p>從中山大學企業管理系畢業的我，擅長執行企劃；學生時期一共發起並執行了兩次跨國專案、一次跨校廣告製作競賽，並參與高雄市莫拉克風災重建計畫執行團隊。</p>
          <p>在尚未開始寫程式前，我通常在團隊中扮演主要的規劃與執行者，負責專案規劃與執行，以及與外部資源溝通、提案的任務。</p>
          <h5 class="lead">運動者</h5>
          <p>我關心社會公平正義與環境議題，從 2008 年開始便陸續參與多項運動，包括反樂生療養院迫遷、反國光石化，以及2014 年的反黑箱服貿與反核四忠孝東路佔領運動等。</p>
          <p>作為程式設計師，我也為公民監督國會聯盟開發了公民立委評鑑系統，以專長支持我認為正確的事情。</p>
          <h5 class="lead">旅行者</h5>
          <p>20 歲時我踏上中國，一個人旅行 6000 公里。</p>
          <p>26 歲，我即將騎摩托車縱越美洲大陸，從美國前往阿根廷。</p>
          <h5 class="lead">電吉他手</h5>
          <p>重度依賴世界各地的獨立音樂，自己也玩樂團，希望回台灣的短暫時間中有機會表演。</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <p><img src="img/japan-mountains.jpg" alt="" class="img-responsive img-circle"></p>
        </div>
      </div>
    </div>
  </section>
  <!-- about end-->
  <!-- Services-->
  <section id="services" style="background-color: #eee">
    <div class="container">
      <div class="row services">
        <div class="col-md-12">
          <h2 class="heading">專長</h2>
          <div class="row">
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-desktop"></i></div>
                <h4>網站開發</h4>
                <p>以 Rails 開發網站，從前端到後段。</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-print"></i></div>
                <h4>專案管理</h4>
                <p>從寫企劃到和工程師聊技術，樣樣 OK</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <div class="icon"><i class="fa fa-globe"></i></div>
                <h4>You Name IT</h4>
                <p>說不定有什麼有趣的任務滿適合我，何不來聊聊？</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services end-->

  <!-- Portfolio / gallery-->
  <section id="portfolio" class="gallery">
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <h2 class="heading">Portfolio</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-1.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 1" data-footer="Some footer information"><img src="img/portfolio-1.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-2.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 2" data-footer="Some footer information"><img src="img/portfolio-2.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-3.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 3" data-footer="Some footer information"><img src="img/portfolio-3.jpg" alt="" class="img-responsive"></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-4.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 4" data-footer="Some footer information"><img src="img/portfolio-4.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-5.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 5" data-footer="Some footer information"><img src="img/portfolio-5.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-6.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 6" data-footer="Some footer information"><img src="img/portfolio-6.jpg" alt="" class="img-responsive"></a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-7.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 7" data-footer="Some footer information"><img src="img/portfolio-7.jpg" alt="" class="img-responsive"></a></div>
            </div></a>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-8.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 8" data-footer="Some footer information"><img src="img/portfolio-8.jpg" alt="" class="img-responsive"></a></div>
            </div></a>
            <div class="col-sm-4">
              <div class="box"><a href="img/portfolio-9.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Portfolio image 9" data-footer="Some footer information"><img src="img/portfolio-9.jpg" alt="" class="img-responsive"></a></div>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio / gallery end-->
  <!-- text page-->
  <section id="text" style="background-color: #333;" class="text-page section-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Text page</h2>
          <div class="row">
            <div class="col-sm-6">
              <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
              <p>Betrayed cheerful declared end and. Questions we additions is extremely incommode. Next half add call them eat face. Age lived smile six defer bed their few. Had admitting concluded too behaviour him she. Of death to or to being other. </p>
            </div>
            <div class="col-sm-6">
              <p>Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed. </p>
              <p>Saw yet kindness too replying whatever marianne. Old sentiments resolution admiration unaffected its mrs literature. Behaviour new set existence dashwoods. It satisfied to mr commanded consisted disposing engrossed. Tall snug do of till on easy. Form not calm new fail. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- text page end-->
  <!-- contact-->
  <section id="contact" style="background-color: #fff;" class="text-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Contact</h2>
          <div class="row">
            <div class="col-md-6">
              <form id="contact-form" method="post" action="#" class="contact-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="name">Your firstname *</label>
                        <input type="text" name="name" placeholder="Enter your firstname" required="required" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="surname">Your lastname *</label>
                        <input type="text" name="surname" placeholder="Enter your  lastname" required="required" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="surname">Your email *</label>
                    <input type="email" name="email" placeholder="Enter your  email" required="required" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="surname">Your message for us *</label>
                    <textarea rows="4" name="message" placeholder="Enter your message" required="required" class="form-control"></textarea>
                  </div>
                  <div class="text-center">
                    <input type="submit" name="name" value="Send message" class="btn btn-primary btn-block">
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <p>Effects present letters inquiry no an removed or friends. Desire behind latter me though in. Supposing shameless am he engrossed up additions. My possible peculiar together to. Desire so better am cannot he up before points. Remember mistaken opinions it pleasure of debating. Court front maids forty if aware their at. Chicken use are pressed removed. </p>
              <p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh. </p>
              <p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="map"></div>
  <footer style="background-color: #111;" class="section-inverse">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-6">
          <p>&copy;2015 Your name/company goes here</p>
        </div>
        <div class="col-md-6">
          <p class="credit">Template by <a href="http://bootstrapious.com/landing-pages">Bootstrapious</a></p>
          <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)
          -->
        </div>
      </div>
    </div>
  </footer>
